[2017-04-19 14:17] karlfloersch opened #2 "Support Python3 in Casper Daemon"
The Viper compiler is Python3, but our current daemon only supports Python2 because until recently `pydevp2p` didn't support Python3. However, after https://github.com/ethereum/pydevp2p/pull/46 it should now support it.

[2017-04-19 15:38] pirapira opened #4 "simple_casper gets stuck after nobody calls initialize_epoch() for 100~200 blocks"
In `simple_casper.v.py`, when nobody calls `initialize_epoch()` during an epoch, all `initialize_epoch()` calls cause assertion failures at:
[code]
because `computed_current_epoch` becomes too big.

[2017-04-19 15:39] pirapira commented on #4
hmm?  I feel confused.

[2017-04-19 15:39] #4 closed

[2017-04-19 15:40] pirapira commented on #4
No, this was not an issue because the assertion has `<=`.

[2017-04-19 15:48] pirapira opened #5 "delete_validator in simple_casper has no authentication"
It seems like `delete_validator` function in `simple_casper.v.py` has no authentication:
https://github.com/ethereum/casper/blob/master/casper/contracts/simple_casper.v.py#L263

Is this a problem?

[2017-04-20 16:02] pirapira commented on #5
#3 seems to solve it.

[2017-04-20 16:09] pirapira opened #7 "When total deposit falls to zero, divide-by-zero happens"
In `simple_casper.v.py`, in `initialize_epoch`, when `self.total_deposits[self.dynasty]` is zero, `sqrt` becomes zero, and
[code]
will cause divide-by-zero.

[2017-04-20 16:20] pirapira opened #8 "deposit_scale_factor might be zero"
In `initialize_epoch`, new `deposit_scale_factor` is computed as:

[code]

This can be zero because `base_coeff` can be 0.5:

[code]

when `sqrt` happens to be 160.

This seems like a problem because sometimes `deposit_scale_factor` divides some other scaling factors.

[2017-05-07 05:18] krtschmr commented on #8
nice catch

[2017-05-09 04:24] ethers opened #12 "Use keccak256"
... when Viper implements it https://github.com/ethereum/viper/issues/267

[2017-08-08 15:22] aykay82 opened #17 "Withdraw reward separately"
Hi,
I am not sure if it would significantly increase the complexity and the costs of the contract. But if not it would be great if you could withdraw the reward separately. This should be optional. When someone choses this method the reward wouldn't be used for staking and not added to the deposit but to a different variable.
Thanks

[2017-08-18 22:19] ajthenewguy commented on #12
Look at the linked ticket:

[2017-08-24 06:31] vbuterin commented on #8
Perhaps to solve this cleanly, we just do something like `resize_factor = min(resize_factor, 0.9)`?

[2017-08-30 16:18] pirapira commented on #8
I need to draw graphs to figure out what's going on.

[2017-09-01 14:28] escursionista opened #19 "casper json interface"
apart from compiling the viper contract myself, is there a way to get the casper json interface? I want to use it to make an indirect double check on the solidity interface I have been building.
https://github.com/RigoBlock/SolidityCasper/blob/master/CasperInterface.sol

thank you

[2017-09-01 17:42] escursionista commented on #19
UPDATE: I compiled the contract, bytecode and ABI in the repo.

[2017-09-01 17:42] #19 closed

[2017-10-19 05:54] weikengchen opened #24 "Practical Mining Pool is Possible"
This is a WARNING about the underestimation of the risk of mining pools in PoS.

Ethereum FAQ (https://github.com/ethereum/wiki/wiki/Proof-of-Stake-FAQ) and some papers like Proof of Activity (http://eprint.iacr.org/2014/452) have analyzed the mining pools in PoS. They think it is not that practical because of a high risk.
- The sketch of mining pool: Everyone sends the money of a fund manager, wh

[2017-11-02 02:32] chasingegg opened #25 "simple_casper_tester.py serpent.compile"
When I want to use simple_casper_tester.py to test, however it says serpent module doesn't have a attribute called compile, and I have tried some different versions of serpent, are there any solutions?

[2017-12-14 03:20] jonchoi opened #28 "TODO & questions for `simple_casper.v.py`"
Did a read of the latest code, and here are some questions and suggested next steps. Will be tackling it myself. Thanks to @karlfloersch and @vbuterin for answering tons of questions along the way.

[HackMD Link](https://hackmd.io/IYDgDATALGCcsFpgGMCMATBUrpAgRsgMzIIDsAZmFBRLAKYCs+jZQA==?edit)

#### Economic Variables
[] solve @jonchoi
[Source code](https://github.com/ethereum/casper/blob/34503973a

[2017-12-14 03:23] maxzzze commented on #28
Hey Jon,

Would be happy to help with some of these TODOs. Want to make a branch to work off of that we can all contribute to?

[2017-12-14 03:25] maxzzze commented on #28
Also, this repo doesn't have much of an open source policy - if you hadn't noticed. I have a MR from August.

[2017-12-14 04:28] hukkinj1 commented on #28
Hi everybody,
read the contract just for fun and games. A few questions raised:

Line 257:
[code]
Is this just an arbitrary "large enough to equivalent infinity" number, or is there some other reasoning for it?

Line 265:
[code]
This comment seems outdated to me. Seems like the method no longer does logging in.

[2017-12-19 12:00] jollysean opened #30 "Reposting - Why is finality required?"
Hi,

I am AI developer and quite newer in ETH with only 2 years of experience.
My doubt is about finality for why have we developed such an elaborate mechanism which could have been done by timestamping each block(which happens already) and not accepting blocks beyond their destined timestamp. In PoS, generation time is predictable with minor latency.
Question in ETH forum is here: http://forum.et

[2017-12-29 22:49] charles-cooper commented on #12
Sorry if this is a very basic question since I'm a newbie - does this mean to use keccak256 instead of delegating hashing to `sighasher` (e.g. https://github.com/ethereum/casper/blob/2901ed1856bc78ce1beff8a04d2d669d4b6d5f98/casper/contracts/simple_casper.v.py#L309)?

[2018-01-03 23:32] saitam1 opened #35 "'Connection to 52.87.179.32 timed out. (connect timeout=10)'"
I am getting an error following this instructions to run the Alpha Casper FFG Testnet : [https://hackmd.io/s/Hk6UiFU7z](https://hackmd.io/s/Hk6UiFU7z)

I am trying this on Elementary OS 0.4 Loki (Ubuntu 16.04 Kernel) + Python 3.5.2 and the error appears after the third line of code:
[code]

ERROR:

[code]

Also `ping 52.87.179.32` gives the following statistics:
[code]
Can you confirm that `http:/

[2018-01-04 11:27] saitam1 commented on #35
OK I guess the address was just an example node. Closing the issue

[2018-01-04 11:27] #35 closed

[2018-01-14 01:10] huangwd15 commented on #25
Me too. I also have the same question. Is there any other documents?

[2018-01-21 02:47] chasingegg commented on #25
Simply use the command `pip3 install ethereum-serpent`

[2018-01-21 02:48] #25 closed

[2018-02-16 14:37] djrtwo opened #45 "Migrate calls to public contract attributes to new vyper format"
# Issue
Previously to get a public contract attribute, `attribute`, from a vyper contract you had to prepend `get_` to form `get_attribute()`. In the current version of Vyper, this is no longer the case. `get_` is no longer supported and attributes are called with `attribute()`.

# Proposed implementation
- Update vyper version in requirements.txt and Dockerfile
- Update calls to public contract a

[2018-02-19 12:48] djrtwo opened #46 "Update README with install and test instructions"
`requirements.txt` has been updated to include all requirements to build the contracts and run the tests. This should be noted in the readme

# Proposed Implementation
- add build instructions (`pip install -r requirements.txt`)
- add test instructions `pytest tests`

[2018-02-19 12:57] djrtwo opened #47 "validator_service.py should live in this repo"
`validator_service.py` is currently in a fork of the pyethapp repo [here](https://github.com/karlfloersch/pyethapp/blob/dev_env/pyethapp/validator_service.py), but I propose it should be ported to this repo.

`validator_service.py`:
- directly depends on the implementation of the casper contract
- shares dependencies with the casper contract
- is automatically tested in this repo's build

Currentl

[2018-02-19 12:57] djrtwo commented on #47
@karlfloersch thoughts?

[2018-02-19 15:07] karlfloersch commented on #47
@djrtwo I agree that if we reimplement `validator_service.py` using web3, it would totally make sense to move it here. Not sure exactly how to handle the old validator service though. Maybe we just build out the new web3 `validator_service.py` and then once that's done look into replacing the old one?

[2018-02-19 15:17] djrtwo commented on #47
Works for me. I'll open a new issue around that.

On Monday, February 19, 2018, Karl Floersch <notifications@github.com>
wrote:

[2018-02-22 23:40] djrtwo opened #48 "Port validator_service.py to web3.py"
Due to the pending deprecation of the pethereum/pyethapp stack, I propose porting existing `validator_service.py` functionality to use web3.py. Not only is web3.py well-featured and actively developed, web3.py can plug into any client that conforms to the standard json-rpc interface. This is particularly exciting because a web3.py validator_service will be able to plug into any of the major client

[2018-02-22 23:40] djrtwo commented on #47
Closing in favor of #48

[2018-02-22 23:40] #47 closed

[2018-03-08 08:31] djrtwo commented on #5
@pirapira `delete_validator` is currently used by `slash` which would be called by a user other than the validator being deleted. The method has been marked `private` since this issue was created.

I think we can now close this.

[2018-03-08 08:41] djrtwo opened #50 "Increase test coverage for casper contract"
# Issue
Need to continue to increase test coverage of `simple_casper.v.py`

# Proposed implementation
Here is a running list. It is not comprehensive but represents only a sample of what should be done.
The tests could also use some re-organization. Maybe subdirectories for "unit" tests and "integration" tests.

- [x] increase coverage of `deposit`
  - should fail if validator already has a deposi

[2018-03-08 10:37] pirapira commented on #5
OK.

[2018-03-08 10:37] #5 closed

[2018-03-09 10:05] djrtwo commented on #30
Hi! Sorry no one got to this earlier. Finality is required for full PoS to prevent long-range attacks. It is a nice add-on to PoW. Because ethereum is currently a PoW chain, a hybrid PoW/PoS transition will be smoother than a full switch so we decided to layer PoS finality on top of PoW block proposals. After things are stable, we will switch to full PoS with PoS block proposals and finality.

As

[2018-03-09 10:22] #30 closed

[2018-03-09 10:29] djrtwo opened #51 "Delayed Logoff"
# Issue
Changing contract such that logging out kicks a validator out of the validator set 700 dynasties from  call to `logout` rather 2 dynasties. Increases the stitching of current dynasty and previous dynasty.

# Proposed implementation
- Add `dynasty_logout_delay` to casper contract initialization params
- Add `dynasty_wei_delta`: map from dynasty -> (wei / m). This will replace `next_dynasty_

[2018-03-09 12:49] ChihChengLiang commented on #51
is this the deploy scripts of casper config you looking for? https://github.com/karlfloersch/pyethapp/blob/dev_env/pyethapp/eth_service.py#L171

[2018-03-09 13:35] djrtwo commented on #51
Yes! Thanks :)

On Friday, March 9, 2018, Chih Cheng Liang <notifications@github.com> wrote:

[2018-03-13 04:02] ChihChengLiang commented on #48
Note that other clients still need to implement features such as:
- Casper Fork Choice Rule
- Epoch initialization
- Casper Vote Gas Refunds
- Casper Block Ordering

specified in the [spec](http://notes.ethereum.org/GwTgLAZghgRgHGAtABmARgKaLFNzEIwjZgDsAxsBAMzIwbJpA===?both=#outline)

[2018-03-13 11:56] djrtwo commented on #48
Absolutely. In the issue, I should note that this is for when other clients implement the casper spec.

[2018-03-15 00:33] djrtwo commented on #51
Added question about how this affects the "prev dynasty"
cc: @vbuterin @karlfloersch @ChihChengLiang

[2018-03-16 00:32] djrtwo opened #52 "Add logging for asserts in contract"
# Issue
Although they plan on adding support (https://github.com/ethereum/vyper/issues/523), Vyper currently does not support logging when asserts fail.

# Proposed implementation
- create a method `assert_and_log(conditon, message)`
- Migrate all calls from `assert` to `assert_and_log` to aid in debugging the test net

NOTE: This code has not been tested.

[code]

We need to decide on a value for

[2018-03-16 00:46] djrtwo commented on #52
I haven't worked with strings in vyper before. I think something like the above works for the error message.

Also looks like theres a `concat` method that will be useful in constructing error messages.

[2018-03-16 06:58] zilm13 commented on #52
@djrtwo it will not work, logs are cleared if tx is failed. Stuck with that yesterday, where are damn logs in receipt??? They are cleared if tx is failed. You couldn't have error log.

[2018-03-16 11:39] djrtwo commented on #52
A very ugly way to log specific failed conditions would be:

[code]

This would only be even close to reasonable at the beginning of a call to a public method before anything else has occurred because it wouldn't revert state. Seems too dangerous to start meddling with the contract like that.

[2018-03-18 07:27] djrtwo opened #53 "Migrate types from `num` to `int`"
# Issue
`num` and `num256` type in vyper are being deprecated in favor of `int128` and `uint256`, respectively.

# Proposed implementation
- convert references of `num` to `int256`
- convert references of `num256` to `uint256`
- convert type casting from `as_TYPE` usage to newer `convert(var, `type`)` format. (all type castings not just `int`/`uint`)
- migrate validator_service.py and update testi

[2018-03-18 07:45] BenKaufman10 commented on #53
Regarding the 3rd point, not sure I understood what you mean correctly but anyway just as a small fix/ reminder, I'm pretty sure `as_uint256` doesn't exist anymore.
Currently you should use `convert(your_var, 'uint256')` instead.

[2018-03-18 07:56] djrtwo commented on #52
Closing this tomorrow unless anyone else has a reasonable idea.

[2018-03-18 08:17] djrtwo commented on #53
Was referencing the note about "integer literals" in the vyper types documentation here https://github.com/ethereum/vyper/blob/master/docs/types.rst#unsigned-integer-256-bit

[2018-03-18 08:19] djrtwo commented on #53
We use that a few times in the casper contract like

[code]

on [line 388](https://github.com/ethereum/casper/blob/master/casper/contracts/simple_casper.v.py#L387)

[2018-03-18 08:25] BenKaufman10 commented on #53
The problem is the docs are not up to date, I am currently working on updating and improving them.
So this `as_num256(1)` should be changed to this: `convert(1, 'uint256')`.
(You can see if you try to compile with `as_uint256()` it will give an error)

[2018-03-18 08:28] djrtwo commented on #53
Thanks! I was just about to add a comment that although I think this is
correct, sometimes I have to dig into the code to see what's actually up to
date.

Updating the issue now

On Sunday, March 18, 2018, benk10 <notifications@github.com> wrote:

[2018-03-18 15:11] zilm13 commented on #52
@djrtwo yeah you could make it success just for logs but it's an easy way to make mistakes. You need to reset everything done before by hands etc. Doesn't worth it.

[2018-03-21 23:28] #52 closed

[2018-03-23 00:12] djrtwo opened #57 "Exploit allowing votes on mis-matched epoch/hash"
# Issue
This was found by the Runtime Verification team in and initial audit of the contract. Due to an incorrect sequence of asserts, a user could presumably cast a vote for {epoch: n-1, hash: hash(epochN)}.

Below are the details copied from Daejun Park:
The `vote` method doesn't check the consistency between `target_hash` and `target_epoch`. On line 390, it asserts `target_hash == self.get_reco

[2018-03-26 00:10] djrtwo opened #59 "Decouple testing between /casper and /pyethereum"
# Issue
I think we should decouple testing between the casper repo and the pyethereum/pyethapp repo. It makes getting certain builds to pass before merging impossible. For example because the constructor signature changes in #56, I have to modify pyethereum before the build passes, but to modify pyethereum, I need to updated code!

A better workflow would be:
- update casper contract, tests pass,

[2018-03-26 00:11] djrtwo commented on #59
@ChihChengLiang This is a blocker on merging updates/fixes. Let me know what you think

[2018-03-26 00:56] djrtwo opened #60 "Validators gain/lose value during their 2 dynasty waiting period"
# Issue
@yzhang90 pointed out that because a validator's deposit is scaled at `current_epoch` when they make a deposit but that they don't get to participate in consensus until 2 dynasties from then (at least two epochs), the validator has a period of time in which they gain/lose ether but cannot participate in consensus.

- Is this an issue?
- How serious of an issue is this?
- What are potential

[2018-03-26 00:56] djrtwo commented on #60
@karlfloersch @vbuterin @ChihChengLiang Requesting your comments on the above issue.

[2018-03-26 02:44] ChihChengLiang commented on #60
During the 2 dynasties, the validator [should still vote](https://github.com/karlfloersch/pyethapp/blob/dev_env/pyethapp/validator_service.py#L111-L125).

[2018-03-26 03:15] ChihChengLiang commented on #59
These two sounds great
[code]

pyethereum is soon to be deprecated, not sure if this worth it.
[code]

[2018-03-27 01:38] #59 closed

[2018-03-27 05:54] djrtwo opened #62 "`vote_bitmap` does not need to map from `target_hash`"
# Issue
`vote_bitmap` contained within the `votes` struct current has the following type. We use the `target_epoch` to select the `votes` struct and then `vote_bitmap` is a mapping from a `target_hash` to a vote bitmap:

[code]

The `target_hash` (`bytes32`) component of the mapping is no longer necessary. When a vote is cast, we assert that the `target_hash` and `target_epoch` must be that of the

[2018-03-27 06:15] #2 closed

[2018-03-27 06:17] djrtwo commented on #24
I suggest you take this to http://ethresear.ch if it's still relevant.

Closing for now.

[2018-03-27 06:17] #24 closed

[2018-03-27 06:18] #12 closed

[2018-03-27 06:26] djrtwo opened #63 "Upgrade to vyper 0.0.4"
# Issue
Vyper has released (and tagged!) version [0.0.4](https://github.com/ethereum/vyper/releases/tag/v0.0.4). Time to upgrade

# Proposed Implementation
- Update hash reference to a v0.0.4 reference
- Update types changes (num -> int256, num256 -> uint256, etc)
- Update type casting to use `convert`
- Not sure what else, but ensure all tests pass.

[2018-03-27 06:26] djrtwo commented on #53
Closing in favor of #63

[2018-03-27 06:26] #53 closed

[2018-03-27 06:29] djrtwo commented on #45
Closing in favor of #63

[2018-03-27 06:29] #45 closed

[2018-03-27 06:30] djrtwo commented on #48
`decimal10` support in web3.py is currently a blocker
https://github.com/ethereum/web3.py/issues/700

[2018-03-27 06:32] djrtwo commented on #17
The current economic model and proofs assume that rewards are not withdrawn. Please bring this up in http://ethresear.ch if you want to discuss further.

[2018-03-27 06:32] #17 closed

[2018-03-27 06:47] weikengchen commented on #24
I agree we should close this.

I will put this into Ethereum research :) Thanks.

[2018-03-28 04:05] ChihChengLiang opened #64 "Update change in deposit scale factor"
As mentioned in
https://ethresear.ch/t/simple-casper-v-py-smart-contract-questions-rewards-and-penalties/1470/3

we need some changes like this

[code]

[2018-03-28 13:38] djrtwo opened #66 "GAS opcode should be included in purity checker"
# Issue
[Purity checker](https://github.com/ethereum/research/blob/master/impurity/check_for_impurity.se)  does not currently include the `GAS` opcode. This opcode can reveal information about the outside world and can make the result of the function not entirely deterministic upon its input arguments.

# Proposed Implementation
- Add `GAS` opcode (`0x5a`) to the purity checker
- Compile to byteco

[2018-03-29 23:36] djrtwo opened #67 "Issue with typecasting in assertions"
# Issue
Vyper performs implicit conversion for `==`, causing a few previously uncaught sources of error.

For example in `deposit` and `logout` function, `assert self.current_epoch == block.number / self.epoch_length` which converts `self.current_epoch` to `decimal` rather than converting `block.number / self.epoch_length` to an int. This line should instead be `assert self.current_epoch == floor(

[2018-03-29 23:51] djrtwo commented on #57
fixed in #58

[2018-03-29 23:51] #57 closed

[2018-03-29 23:51] djrtwo commented on #63
Addressed  in #65

[2018-03-29 23:51] #63 closed

[2018-04-01 02:52] djrtwo commented on #67
Addressed in #56

[2018-04-01 02:52] #67 closed

[2018-04-01 02:52] djrtwo commented on #51
addressed in #56

[2018-04-01 02:52] #51 closed

[2018-04-01 03:59] djrtwo opened #69 "Migrate purity checker to vyper LLL"
# Issue
[Purity checker](https://github.com/ethereum/research/blob/master/impurity/check_for_impurity.se) is currently written in the deprecated Serpent. We need to make updates to it but should stop relying on Serpent compiler

# Proposed implementation
- Migrate current purity checker from serpent to vyper LLL
- Port contract to this repo
- Add sanity check testing to pytest build
- Compile Puri

[2018-04-01 03:59] djrtwo commented on #69
This should be handled before #66

[2018-04-03 02:57] pipermerriam commented on #48
Someone can start on `decimal10` abi support now.  The implementation should be done in [`eth-abi`](https://github.com/ethereum/eth-abi) and should be reasonably straight forward to do if you dig in and look at how the current encoders/decoders are written.

[2018-04-03 05:10] BenKaufman10 opened #71 "Vyper code uses meter label"
I was going through the code of simple_casper.v.py and saw a strange use of the ``m`` labeling.
In vyper, ``m`` means meter. So why does casper uses it (mostly as ``wei / m``) so much?

[2018-04-05 02:52] #64 closed

[2018-04-05 04:03] djrtwo commented on #71
We scale deposits as an optimization. We scale on the way in and the way out, rather than updating all validator deposits at each epoch depending on gains/losses. We use `m` as the unit deposits are scaled against. This extra unit helps with type checking when dealing with wei vs scaled wei

[2018-04-05 04:06] djrtwo opened #73 "Migrate sig hasher to vyper"
# Issue
[Sig hasher](https://github.com/ethereum/casper/blob/master/casper/validation_codes/verify_hash_ladder_sig.se) is currently written in the deprecated Serpent. We should stop relying on Serpent compiler.

# Proposed implementation
- Migrate current sig hasher from serpent to vyper LLL
- Port contract to this repo
- Add sanity check testing to pytest build

[2018-04-05 04:25] daejunpark opened #74 "Remove unused local variable in `proc_reward`"
Unused local variable `start_epoch`:
https://github.com/ethereum/casper/blob/50cf73801dc251d940941fd67c10625c1f4d147b/casper/contracts/simple_casper.v.py#L366

[2018-04-05 22:46] djrtwo commented on #71
Correct. Is there a unit currently that might make more sense?

[2018-04-06 06:26] BenKaufman10 commented on #71
I don't think so, maybe ``currency`` or ``currency1`` will sound more generic but I don't think it will help. This are the current units in Vyper: ``currency, wei, currency1, currency2, sec, m, kg``.
I was thinking about adding some generic unit (e.g. ``unit`` or so) but if we are going to implement VIP 752 it won't be necessary.

[2018-04-06 13:25] djrtwo opened #75 "Check for validator logout in slashing is off"
# Issue
The following code found [here](https://github.com/ethereum/casper/blob/50cf73801dc251d940941fd67c10625c1f4d147b/casper/contracts/simple_casper.v.py#L501) in `slash` is incorrect

[code]

This modifies `self.dynasty_wei_delta` for the validator's `end_dynasty` even after that dynasty has begun/occurred, and more importantly, it modifies the next dynasty regardless of whether the validator

[2018-04-06 13:46] djrtwo opened #76 "Partial Slashing"
# Issue
Need to implement partial slashing to reduce the discouragement of validating for the occasional not-so-malicious incorrectly signed messages.

 # Proposed Implementation
_The following is a rough outline and needs to be cleaned up_
* maintain a mapping epoch => total_slashed, keeping track of the total amount of validator deposits removed through slashing up until that point. When you ini

[2018-04-07 02:09] beneficial02 commented on #76
I have a few questions.

* What is `recently_slashed` for?
* What does `withdrawal_delay` mean?
* What is the difference between `withdraw_time` and `withdrawal_delay`?
* How the numbers(2 and 6) are decided in `(total_slashed[withdraw_time] - total_slashed[withdraw_time - 2 * withdrawal_delay]) * 6`?

I think I need to read articles(if exist) about the reasoning behind slashing conditions and par

[2018-04-08 12:48] vbuterin commented on #76
The intention is to slash validators by an amount proportional to the percentage of other validators that were slashed around the same time. `recently_slashed` is the numerator.

Aah, sorry, I think it's meant to be equal to `total_slashed[withdraw_time] - total_slashed[withdraw_time - 2 * withdrawal_delay]`

The 2 basically means that if you commit a violation at time T, you're slashed based on t

[2018-04-08 12:51] vbuterin commented on #62
Agree!

[2018-04-08 19:41] alex687 opened #78 "Question/ Possible bug in voting"
Hello,
  `  if (current_dynasty_votes >= self.total_curdyn_deposits * 2 / 3 and
            previous_dynasty_votes >= self.total_prevdyn_deposits * 2 / 3) and \
            not self.votes[target_epoch].is_justified:
`
My question is shouldn't  **total_curdyn_deposits_scaled** be used instead of **total_curdyn_deposits** ?
 I think that with this code if validator goes offline there will be no fina

[2018-04-10 00:42] djrtwo commented on #74
removed!

[2018-04-10 00:42] #74 closed

[2018-04-12 10:02] vbuterin commented on #78
No, because all balances are stored in `wei / m` units. The unit checker in Vyper enforces this and prevents accidentally comparing one with the other.

[2018-04-12 19:34] alex687 commented on #78
Yes, I didn't saw that `total_curdyn_deposits_scaled  ` was returning different unit. Correct me if I'm wrong but still I don't see any **"inactivity leak of the deposits"** in the code if validators go offline.

[2018-04-13 01:07] djrtwo commented on #75
addressed in #81

[2018-04-13 01:07] #75 closed

[2018-04-13 01:07] djrtwo commented on #62
addressed in #82

[2018-04-13 01:07] #62 closed

[2018-04-13 01:11] djrtwo commented on #78
There is an inactivity leak:

The rewards and penalties are applied individually and collectively:

Individually, when a voter votes, their unscaled deposit instantly increase `validator.deposit *= 1 + reward_factor`

Collectively, every validators' deposits get rescaled

`deposit_scale_factor[epoch] = deposit_scale_factor[epoch - 1] * (1 + vote_fraction * reward_factor / 2) / (1 + reward_factor)`

[2018-04-13 01:35] djrtwo opened #83 "restrict epoch_length in __init__"
# Issue
`epoch_length` must be less than 256, otherwise it causes `recommended_target_hash` to throw due to limits in the `BLOCKHASH` opcode.

# Proposed Implementation
- add assertion to `__init__`: `assert _epoch_length < 256`
- add relevant tests

[2018-04-13 01:48] djrtwo commented on #78
Closing. Let us know if you find anything/have any more questions.

[2018-04-13 01:48] #78 closed

[2018-04-15 08:11] beneficial02 opened #84 "Safety of insta_finalization when deposit doesn't exist"
Though this might be 'too much worrying', I'm wondering about safety before deposit is deposited.

According to simple_casper code, it seems `deposit_exists()` is False at least 3 epochs from the initialization(2 epochs for `start_dynasty` in `deposit`, 1 epoch for the change in `total_prevdyn_deposit`), and the epochs are` insta_finalize()`d.

I understood this as it would be finalized even if so

[2018-04-15 08:29] beneficial02 commented on #84
Oh, I see. I missed that point. Thanks for the clarification and sorry for bothering.

[2018-04-15 08:37] djrtwo commented on #84
It is discussed in the [Implementation Guide](https://github.com/ethereum/casper/blob/master/IMPLEMENTATION.md) and will be in the upcoming EIP.

Thanks for the code review! We appreciate any review/questions :)

[2018-04-15 08:37] #84 closed

[2018-04-16 13:03] djrtwo opened #86 "remove `penalty_factor` contribution to reward_factor under normal conditions"
# Issue
Reasoning about and modeling rewards/penalties is particularly harry because `penalty_factor` makes a 2x contribution to `reward_factor` when the chain is being finalized under optimal conditions because in that case `esf() == 2`

[code]

# Suggested Implementation
change the above code to the following to remove `penalty_factor` when esf is 2

[code]

[2018-04-16 15:07] beneficial02 commented on #86
It seems `reward_factor` can be <0 when `esf` is <2 if `penalty_factor` is >0, as `adj_interest_base` would be quite small value.

[2018-04-16 23:25] djrtwo commented on #86
`esf` cannot be less than 2. The minimum value of esf is 2 because of how
epochs are finalized by first justifying and then finalizing.

I should have put that in the explanation of the issue

On Tuesday, April 17, 2018, Loun Lee <notifications@github.com> wrote:

[2018-04-17 03:10] djrtwo commented on #86
Let me further clarify that `esf` cannot be less than 2 at the time of calculating `reward_factor`. It can be equal to one at the point at which a new checkpoint is finalized in the middle of an epoch.

[2018-04-17 03:16] djrtwo opened #88 "Use capital letters for constants"
# Issue
## Constant var names
There is no distinction from a style perspective in the difference between variables that change and those that should remain constant. Python coding style usually dictates that constants be defined with uppercase like `CONSTANT_VAR_NAME`. The sharding team has begun to define constants in the SMC this way. See [here](https://github.com/ethereum/sharding/blob/develop/

[2018-04-17 15:08] garroadran commented on #88
I can help out with this if you'd like. Shall I just send in some PRs or would you like to assign me a specific directory to work on, or something like that?

[2018-04-18 00:49] djrtwo commented on #88
Hi @garroadran! looks like there are a couple of PRs already queued up for this. Low hanging fruit with "good first issue" motivated a bunch of people :)

Let me know if you want to pick up any of the other issues in the repo

[2018-04-18 01:09] djrtwo opened #92 "Remove use of `dynasty_in_epoch` in `vote`"
# Issue
We still use `dynasty_in_epoch` [here](https://github.com/ethereum/casper/blob/c56a39fda7285617b66ea93e3e1e5791b1f42b87/casper/contracts/simple_casper.v.py#L396) even though it is asserted that the `target_epoch` must be the `current_epoch` --> thus ensuring that the `current_dynasty` is `self.dynasty`.

Removing this `dynasty_in_epoch` use will make it easier for the formal verification t

[2018-04-18 04:41] djrtwo commented on #92
addressed in #93

[2018-04-18 04:41] #92 closed

[2018-04-18 04:42] djrtwo commented on #86
addressed in #87

[2018-04-18 04:42] #86 closed

[2018-04-18 04:46] djrtwo commented on #48
`eth-abi` library is waiting on decision to be made on whether vyper is going to keep decimal10 or just move to support fixedNxM

https://github.com/ethereum/vyper/issues/566

[2018-04-19 00:16] ralexstokes opened #94 "unclear function selector in call to purity checker"
https://github.com/ethereum/casper/blob/b2a1189506710c37bbdbbf3dc79ff383dbe13875/casper/contracts/simple_casper.v.py#L298

Looks like a typo...

The `raw_call` presumably calls the `submit` function here: https://github.com/ethereum/research/blob/master/impurity/check_for_impurity.se

And following our convention we see:
[code]

which implies the method selector should be `'\xa1\x90\x3e\xab'`.

If

[2018-04-19 00:36] djrtwo commented on #94
`"\x3e" == ">"`

I agree that it would be cleaner with the explicit hex if you still want to do that PR

[2018-04-19 00:37] djrtwo opened #95 "Variable min deposit size to promote consistent # of vals"
# Issue
Defining an explicit, unchanging value for the minimum size of deposits is risky because we do not have a clear idea as to how many validators will show up. Instead, we want to define a base deposit value and have the minimum a validator needs to deposit scale as the number of validators scales.

# Proposed Implementation
- Track number of active validators with a new contract variable `nu

[2018-04-19 00:46] djrtwo commented on #69
@ralexstokes might be picking this one up

[2018-04-19 01:26] djrtwo commented on #94
addressed in #97

[2018-04-19 01:26] #94 closed

[2018-04-19 01:26] djrtwo commented on #88
addressed in #89

[2018-04-19 01:26] #88 closed

[2018-04-19 04:16] ChihChengLiang commented on #69
These are some [test cases](https://github.com/ethereum/research/blob/master/impurity/impurity_tester.py) rewritten in vyper.
[code]

[2018-04-19 05:14] darcius commented on #95
Just to add a little bit onto this, can the MIN_DEPOSIT_SIZE be a public variable so it can be accessed externally? Currently it's not (would be nice to have it now too :) and if it could potentially change depending on the number of validators logged in, this would def be needed.

[2018-04-19 05:28] djrtwo commented on #95
I exposed the method `current_min_deposit_size` as a public method in the PR. This should probably suffice, right?

 https://github.com/ethereum/casper/pull/98/files#diff-5907966b02ce3d72c8259ba4206c1338R302

[2018-04-19 05:32] darcius commented on #95
Ah didn't spot that in the PR @djrtwo, that's perfect. Thanks!

[2018-04-19 06:32] #46 closed

[2018-04-19 07:08] djrtwo commented on #73
Note, this was previously pointing to the wrong contract. The link has been updated to the correct contract.

[2018-04-19 11:28] garroadran commented on #88
Ah, thanks for that. Sorry I couldn't be of help this time. I will have a look around to see if there's anything else I might be able to lend a hand with.

[2018-04-19 20:29] ralexstokes opened #102 "Clarification for comment"
https://github.com/ethereum/casper/blob/42f32e5bdd6e16f5b13a65363f2523ee22668b49/casper/contracts/simple_casper.v.py#L33

Comment refers to signature/validation address but the assertion on line 299 references the withdrawal address.

My understanding is that `validator_indexes` tracks withdrawal addresses to avoid duplicate validators and the comment should be changed to reflect this.

However it

[2018-04-20 05:11] darcius commented on #95
Since this PR is closed now due to complexities with it, any chance `min_deposit_size` can be exposed in the current Casper? Happy to submit a PR if that's not an issue :)

[2018-04-20 05:32] ChihChengLiang commented on #102
your proposed change makes sense to me.

It seems `validator_indexes` was originally designed to [track signature address](https://github.com/ethereum/casper/commit/a37f96ed20c7f0d11df1513379e0dfb5db93d6f7#diff-5907966b02ce3d72c8259ba4206c1338R21), then it was changed to [track withdrawal address](https://github.com/ethereum/casper/commit/175c4d8d53c604369a03843489fdba6e0451835c) next week.

[2018-04-20 05:38] ChihChengLiang commented on #95
PR is welcome, remember to fix [this comment](https://github.com/ethereum/casper/blob/master/casper/contracts/simple_casper.v.py#L114) in the PR too. That comment only makes sense in the dynamic min deposit size context.

[2018-04-20 05:45] darcius commented on #102
This might help shed some light on that change guys https://github.com/ethereum/casper/pull/21

[2018-04-20 12:47] hrishikeshio commented on #73
Since vyper does not support inline assembly, how can the assembly code like `mstore` be implemented in the vyper implementation?

[2018-04-20 13:01] djrtwo opened #103 "Reduce gas limit in calls to validator.addr"
# issue
STUB: Currently 500k. Too high (will fill in more reasoning later)

# Suggested Implementation
- reduce to 200k
- Maybe make a variable `VALIDATION_GAS_LIMIT` or something because this magic number is used both in `vote` and `logout`
- Ensure discussion of this fact in `VALIDATOR_IMPLEMENTATION.md`

[2018-04-21 05:28] #102 closed

[2018-04-22 04:12] darcius opened #106 "deposit_scale_factor in __init__ might cause Casper to stall"
Found this while testing some code with Casper today when deploying to a testnet where the contract is deployed after the first epoch has passed. I might be missing something here, but it looks like this issue would stop Casper working immediately when deployed to any network that has been running for a while, including mainnet.

## The issue

An example where Casper is deployed to a network that

[2018-04-22 05:00] djrtwo commented on #106
Thank you! I'm on mobile, but after a quick look, I think you are correct.

Most of our testing thus far has been in deploying the Casper contract at
the genesis instead of mid chain. Because the new EIP dictates doing it mid
chain, it's time to enhance testing on that front.

Great find :)

On Sunday, April 22, 2018, David Rugendyke <notifications@github.com> wrote:

[2018-04-22 06:42] darcius commented on #106
Thanks @djrtwo! I'm currently implementing Casper directly into our unit tests which is how I found it. I'll let you guys know if I come across any other issues.

If that solution looks good to you, I can submit a PR, just let me know!

[2018-04-23 00:26] djrtwo commented on #106
Yes! I think it would be difficult to test this in our current test setup, so can you just put a "TODO" comment above the `self.deposit_scale_factor[self.current_epoch] = 10000000000.0` line?

could be:
[code]

[2018-04-23 12:59] djrtwo commented on #106
addressed in #107

[2018-04-23 12:59] #106 closed

[2018-04-23 15:01] djrtwo commented on #73
@hrishikeshio Vyper LLL rather than high level Vyper. LLL is an intermediary between vyper and bytecode.

[2018-04-24 03:13] djrtwo commented on #95
Closing due to complexities that arise in handling val_count if a validator just goes offline forever.

Proposed solutions to this problem include:
* forced validator rotation on some timescale
* incentivized external actors to logout inactive validators after some time of inactivity

These solutions require more research and development and are being tabled for hybrid casper FFG. Without observin

[2018-04-24 03:13] #95 closed

[2018-04-25 05:22] djrtwo opened #110 "Reduce max length of signature in vote message"
# Issue
Vote messages must be less that or equal 1024 bytes, defined by the type in the `vote` method signature. When parsing the signature of the vote from the vote message, we currently only enforce that the signature too is less than or equal to 1024 bytes.

https://github.com/ethereum/casper/blob/d5aed932634e28ab90d31facc6d9944be1a5d426/casper/contracts/simple_casper.v.py#L402

Due to the vari

[2018-04-26 10:41] ChihChengLiang opened #111 "Update pyrlp version"
## Issue

Recently the pyrlp upgraded to 1.0.0-beta and introduced some breaking changes, such as removing `encode_hex` and `decode_hex` functions https://github.com/ethereum/pyrlp/pull/55 .

## Suggested implementation

- upgrade `rlp >= 1.0.0-beta` in `requirements.txt`
- replace all broken functions in the codebase with functions from https://github.com/ethereum/eth-utils .

[2018-04-26 22:47] djrtwo commented on #83
addressed in #114

[2018-04-26 22:47] #83 closed

[2018-04-27 04:32] ChihChengLiang commented on #66
maybe try pytest xfail feature? so we can get that test work when GAS opcode implemented.

https://docs.pytest.org/en/documentation-restructure/how-to/skipping.html

[2018-04-30 02:22] djrtwo opened #117 "Mismatched comparison when assessing finality"
@yzhang90 noticed that comparing `current_dynasty_votes` and `total_curdyn_deposits` happens after `proc_reward`(https://github.com/ethereum/casper/blob/d5aed932634e28ab90d31facc6d9944be1a5d426/casper/contracts/simple_casper.v.py#L447), which means `current_dynasty_votes` is the value before the `proc_reward` but `total_curdyn_deposits` is the value after `proc_reward`. This seems unintentional. B

[2018-04-30 09:55] djrtwo opened #118 "Memoize size of deposits"
# Issue
- `votes` data structure is poorly named. `checkpoints` would be much clearer. `checkpoints[epoch].is_finalized` reads quite nicely (thanks @jonchoi)
- We currently do not memoize the size of `total_*dyn_deposits` related to each `checkpoint`. Storing this data alongside a checkpoint would make it much simpler for clients to decide if a checkpoint should be finalized/justified locally (did

[2018-04-30 13:54] #103 closed

[2018-05-03 08:32] djrtwo opened #121 "Withdrawal addr should be able to call logout"
# Issue
Currently, a validator must call `logout` using their validation key. If the validator loses their validation key, they can never get their deposit back.  Allowing `logout` to be called from the validator's withdrawal addr provides a backup in case of any issue that might arise with their validation key.

This is a simple addition that will ultimately provide a better validator experience

[2018-05-03 09:29] escursionista commented on #121
This is also a more secure way and a better experience for users looking to interact with casper through smart contracts (i.e. multisigs or vaults), as it enable to run a validator and manage the funds with completely separate logics and keys. I like it.

[2018-05-03 15:52] hrishikeshio commented on #111
There are dependency issues https://github.com/ethereum/pydevp2p/pull/95

casper depends on pydevp2p which requires rlp<1. This is because devp2p is python2 and python3 compatible but rlp>1 and eth_utils are not compatible with python3.

[2018-05-05 00:53] djrtwo opened #122 "`total_*dyn_deposits` and `total_*dyn_deposits_scaled()` naming off"
# Issue
The names of `total_*dyn_deposits` and `total_*dyn_deposits_scaled()` are probably actually backwards. Pure wei_values are what I would consider unscaled, whereas anything that is `decimal(wei/m)` has been scaled.

# Proposed Implementation
- ensure scaled deposits have no suffix
- change unscaled deposits to have suffix `_in_wei` (example: `total_curdyn_deposits_in_wei()`)

[2018-05-05 00:53] djrtwo commented on #122
@ChihChengLiang thoughts?

[2018-05-06 23:48] djrtwo commented on #122
I like `in_wei`

[2018-05-07 00:16] djrtwo commented on #111
Thanks for looking into this!

[2018-05-07 03:17] djrtwo opened #123 "Remove `owner` backdoor"
# Issue
The `owner` backdoor in the current contract is not actually very useful. When we run testnets, we can just have stockpiles of ETH instead of worrying about retrieving burned funds. Let's remove this sooner rather than later so we don't forget...

# Proposed Implementation
- remove `OWNER`
- remove `owner_withdraw`
- remove `change_owner`

[2018-05-07 10:12] #123 closed

[2018-05-07 10:12] #122 closed

[2018-05-08 02:35] KForgette238 opened #126 ""Invalid Type" Error when compiling with Vyper"
Trying to compile the contract with Vyper yields the following error:

vyper.exceptions.InvalidTypeException: line 263: Invalid type: "Compare(left=Name(id='bytes', ctx=Load()), ops=[LtE()], comparators=[Num(n=1024)])"
def validate_signature(sighash: bytes32, sig: bytes <= 1024, validator_index: int128) -> bool:

Has anyone else run into this issue and know how to fix it?

[2018-05-08 03:12] djrtwo commented on #126
In the master branch of Vyper, they've updated some of the type declaration syntax. We're currently using vyper version 0.0.4 found here https://github.com/ethereum/vyper/releases/tag/v0.0.4

Make sure you are using the code from that release and try again.

[2018-05-08 10:06] djrtwo opened #127 "create public constant `slashable` method"
# Issue
All of the logic for whether two messages are slashable is bundled up in `slash` currently. This misses the opportunity for clients to just reuse the logic locally when deciding if two messages are slashable.

# Proposed Implementation
- create public, constant method `slashable`
- Port all of the logic deciding if slashable from `slash` to this method
- test!
- update EIP `--monitor-votes

[2018-05-08 10:27] djrtwo opened #128 "change name of SIGHASHER to MSG_HASHER"
# Issue
The name `SIGHASHER` is consistently causing confusion when new people are reading the contract. In effect, it's hashing everything but the signature...

# Proposed Implementation
- change name from `SIGHASHER` to `MSG_HASHER`
- change name from `SIGHASHER_GAS_LIMIT` to `MSG_HASHER_GAS_LIMIT`
- add comment at `MSG_HASHER`  declaration describing what it does -- hashes message contents but

[2018-05-08 10:29] hrishikeshio commented on #110
@djrtwo Would it be better to add this enforcement in validate_signature()?

[2018-05-08 11:47] #118 closed

[2018-05-08 12:46] djrtwo commented on #110
The type declaration should handle the enforcement. I was thinking we just make the type declaration the following anywhere we are referencing the sig which is a number of places at this point (including `validate_signature`)

[code]

[2018-05-09 05:25] paulhauner commented on #121
Hey @hrishikeshio, I just saw you started this on gitcoin sorry.

I just put a pull request forward for this one here: https://github.com/ethereum/casper/pull/131.

Happy to have your input! :smile:

[2018-05-09 05:49] hrishikeshio commented on #121
@paulhauner No worries. I have stopped working on it. You can claim the bounty.

[2018-05-09 09:28] djrtwo commented on #128
Addressed in #129

[2018-05-09 09:28] #128 closed

[2018-05-09 09:28] djrtwo commented on #126
Closing. Let me know if this did not fix your issue

[2018-05-09 09:28] #126 closed

[2018-05-09 10:03] djrtwo opened #132 "Remove constructor and instead explicitly called one-time method"
# Issue
Deploying evm `bytecode` that requires initialization via a constructor to a specific address is a very unnatural operation and hard to specify across clients. On the other hand, deploying evm `runtime bytecode` to a specific address is easy, but lacks any initialization you might want from the `bytecode`.

To get the ease of the deploy of `runtime bytecode` along with the initialization w

[2018-05-09 14:12] djrtwo commented on #117
This is a bug. I'll spec it more closely and get it fixed soon.

[2018-05-09 14:13] djrtwo commented on #111
Any update on this one?

[2018-05-09 17:15] hrishikeshio commented on #111
@djrtwo. It's blocked. How do we proceed? We have to make pydevp2p python 3 only... Is that ok?

[2018-05-10 03:30] ChihChengLiang commented on #111
ah ... sorry @hrishikeshio , most of the packages in `requirements.txt` are not required now. The pydevp2p was used by a casper daemon that is removed recently. I'll clean up the `requirements.txt` and you should able to work on this soon.

[2018-05-10 03:30] KForgette238 commented on #126
Thanks for getting back to me so quickly. I tried using v 0.0.4 of Vyper, but I'm running into additional problems now. I can run "make" successfully, but when I run "make test", I get the following error:

3-py3.6.egg/ethereum/utils.py", line 13, in <module>
    from rlp.utils import decode_hex, encode_hex, ascii_chr, str_to_bytes
ImportError: cannot import name 'decode_hex'

There is an open iss

[2018-05-10 04:10] djrtwo commented on #76
addressed in #115

[2018-05-10 04:10] #76 closed

[2018-05-10 04:17] djrtwo commented on #126
Looks like you are using old commands from the setup.py file? We are currently removing that method.

Follow the commands in the README:
`pip3 install -r requirements.txt` to build
and
`pytest tests` to test

[2018-05-10 07:10] hrishikeshio commented on #111
Thanks guys. But now it seems pyethereum upgraded to rlp 1 only in the very recent commit. and the build is failing. https://github.com/ethereum/pyethereum/commit/6c7cf77182c43fe50bf7def773bbf9db8cc6d1f8

Created this issue.
https://github.com/ethereum/pyethereum/issues/876

[2018-05-10 08:42] djrtwo commented on #7
This is handled [here](https://github.com/ethereum/casper/blob/dcf4caf35937800b04c6bac4a2ab13c1513b6147/casper/contracts/simple_casper.v.py#L383) by ensuring that `deposit_exists()` before doing the calculation that could create the divide by zero.

Closing!

[2018-05-10 08:42] #7 closed

[2018-05-10 13:44] djrtwo opened #136 "Unnecessary assertion in `initialize_epoch`"
There is an assertion in `initialize_epoch` when updating `reward_factor` that I'm pretty sure should not exist. It should either be a conditional assignment or should entirely be removed.

https://github.com/ethereum/casper/blob/dcf4caf35937800b04c6bac4a2ab13c1513b6147/casper/contracts/simple_casper.v.py#L388

Such an assertion that is out of the control of the caller via method params should not

[2018-05-10 16:11] mkeen commented on #110
@djrtwo Your proposed solution is syntactically elegant, but from what I can see, it's going to require an enhancement to Vyper. Vyper's `RLPList` function [sets the size of
all byte array members equal to the size of the entire RLPList](https://github.com/ethereum/vyper/blob/0d92d86752bcfca875e042cec6048488db3d479c/vyper/functions/functions.py#L431).

For the purposes of decoding incoming data, V

[2018-05-10 23:45] vs77bb commented on #121
Hi @paulhauner - feel free to claim the bounty [here on Gitcoin](https://gitcoin.co/issue/ethereum/casper/121/392) by clicking 'Start Work' and then 'Submit Work'.

If you need a small amount of ETH to make a transaction, file a request with the [Gitcoin Faucet](gitcoin.co/faucet) and we can make a distribution. Great work here 😄

[2018-05-11 00:50] paulhauner commented on #121
Thanks @vs77bb, will do.

[2018-05-11 01:04] djrtwo commented on #121
@vs77bb Curious, can I close the issue or do we need to wait for the bounty to resolve first?

[2018-05-11 02:55] vs77bb commented on #121
@djrtwo, feel free to close! @paulhauner, expect @gdipri01 to pay out within 24-48 hours 👍

[2018-05-11 03:52] djrtwo commented on #121
Addressed in #131

[2018-05-11 03:52] #121 closed

[2018-05-11 03:53] djrtwo commented on #127
addressed in #133

[2018-05-11 03:53] #127 closed

[2018-05-11 04:47] paulhauner commented on #121
Wow, earning internet money from making internet codes. Much crypto, such
wow. Thanks @gdipri01 :)
On Fri, 11 May 2018 at 1:52 pm, Danny Ryan <notifications@github.com> wrote:

[2018-05-11 08:53] jacqueswww opened #138 "Move casper contract to use custom units"
Hi There!

So we recently introduced _custom units_ into vyper with [VIP 752](https://github.com/ethereum/vyper/issues/752). Quick example of usage https://vyper.readthedocs.io/en/latest/types.html#custom-unit-types.

What I would like to probe - if there is perhaps reason we can remove some of the current static unit types from vyper completely.

[code]

I feel like these are quite opaque and wil

[2018-05-11 09:08] subhasisbanik opened #139 "ubuntu install issue"
Ran the below command:
pip3 install -r requirements.txt

And got the issue:

Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-q7ledi1k/scrypt/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-vp4e__kd-record/install-record.txt --single-version-externally-managed --compile

[2018-05-11 09:57] ascjones commented on #126
@KForgette238 I was also struggling with this but used @djrtwo's instructions above (in the *casper* repo, not vyper) allowed me to the run the 0.0.4 vyper compiler from within the casper virtualenv.

[2018-05-11 10:44] subhasisbanik commented on #139
I am running Ubuntu 16.04 and have installed,
sudo apt-get install build-essential libssl-dev python-dev
Now its not throwing error.
"Successfully installed asn1crypto-0.24.0 bumpversion-0.5.3 cffi-1.11.5 coincurve-7.1.0 coverage-4.5.1 ethereum-2.3.0 future-0.16.0 pbkdf2-1.3 py-ecc-1.4.2 pycparser-2.18 pycryptodome-3.6.1 pyethash-0.1.27 pytest-cov-2.5.1 pytest-runner-4.2 scrypt-0.8.6 vyper-0.0.4"

[2018-05-11 10:48] djrtwo commented on #138
I support this.

That said, I haven't been able to figure out a good custom unit for casper's scaled deposits. I guess maybe just `scale_factor` -- `wei / scale_factor`. Don't want to hijack this thread, but open to ideas.

[2018-05-11 14:52] djrtwo commented on #139
So you've successfully installed the dependencies? You should try running the test suite with:

[code]

[2018-05-12 14:45] djrtwo commented on #138
cc: @ChihChengLiang @vbuterin

[2018-05-13 04:33] ChihChengLiang commented on #138
Propose `x` for the unit, and `scale_factor` for the name of the unit. Prefer a short unit so we can avoid having a lengthy type `(wei/ lengthy_unit)` everywhere in the codebase. And the choice of `x` is as if we are saying this is a multiple of something, like 4x is 4 times and 5 wei/x is 4x scaled down of 20 wei.
[code]

[2018-05-13 05:38] djrtwo commented on #138
@ChihChengLiang As for the move for vyper to get rid of all built-in units and only have custom ones. Do you support this?

[2018-05-13 05:48] djrtwo commented on #132
addressed in #137

[2018-05-13 05:48] #132 closed

[2018-05-13 06:13] ChihChengLiang commented on #138
ah thanks Danny. I support this too. all custom units and no built-ins.

[2018-05-13 07:16] djrtwo opened #140 "Can't call `init` and `initialize_epoch` at same block number"
# Issue
Can't currently call `init` and `initialize_epoch` at same block number as currently specified in the EIP. Need to reconsider this relationship at deploy.

# Proposed implementation
My initial thoughts are to only run `initialize_epoch` if `block.number > HYBRID_CASPER_FORK_BLKNUM`  rather than `>=`.

Need to consider if anything from `initialize_epoch` is actually needed in the 0th epoch.

[2018-05-13 08:50] ChihChengLiang commented on #136
removing that assert make perfect sense. Currently, the assertion is not giving useful information but introducing complexity when tracing bug.

Would also suggest assigning a minimum value for `sqrt_of_total_deposits`, to prevent `self.BASE_INTEREST_FACTOR / self.sqrt_of_total_deposits()` being too large.

[2018-05-14 03:30] djrtwo opened #141 "Contract warmup period"
# Issue
As currently spec'd in the EIP, the casper contract only gets the 0th epoch to bring in it's first validator set. This can lead to issues where a very small number (worst case just 1 validator) gets inducted into the first dynasty. In the worst case, a single validator could be in charge of finalizing the first real checkpoint. If this validator failed to finalize and thus allow more valid

[2018-05-14 03:47] djrtwo commented on #140
This and other concerns are being addressed in #141

[2018-05-14 03:47] #140 closed

[2018-05-14 03:48] djrtwo commented on #139
Closing. Let me know if this did not fix your issues and I'll reopen.

[2018-05-14 03:48] #139 closed

[2018-05-14 08:00] djrtwo commented on #138
@jacqueswww I'm waiting on a new release from vyper to integrate some of the recent syntax changes and features. I'll also switch to custom units whenever a release comes.

[2018-05-14 08:02] jacqueswww commented on #138
After we move to-eth-tester I will tag a new release ;)

[2018-05-14 08:04] djrtwo commented on #138
yay so excited!

[2018-05-14 11:11] hrishikeshio commented on #111
Now its blocked because of this https://github.com/ethereum/pyethereum/issues/879

[2018-05-15 01:03] paulhauner opened #144 "next_validator_index comment is misleading"
https://github.com/ethereum/casper/blob/100c1b4e1e816b6362c7f2d810d78b2ef21c3031/casper/contracts/simple_casper.v.py#L29

This var does not represent the number of validators as it is set to `1` in the constructor. It technically represents `number of validators + 1`.

I would suggest changing the comment to "Next available validator index.", however I am no authority :smile:

[2018-05-15 03:57] ChihChengLiang commented on #144
the comment "Next available validator index." sounds good!

[2018-05-15 05:17] djrtwo commented on #144
It doesn't even represent the number of validators + 1! It represents the number of validators there have ever been (+ 1)...

changing it now

[2018-05-15 06:03] djrtwo opened #146 "test `slash` when validator has deposited but not yet reached `start_dynasty`"
Stub.

Pretty sure this is untested in the contract and I'm not sure the contract gracefully handles this case.
Will look into and spec more.

[2018-05-15 06:55] #144 closed

[2018-05-15 10:08] ChihChengLiang commented on #141
In the warmup period, we want validators to be able to deposit but not letting the first validator doing 100% attack by not voting and blocking the finalization.

`initialize_epoch` should be disallowed in warmup period. The reasoning is as follows:

If allowed, deposits bleed during warmup. The chain starts to using votes to finalize checkpoints rather than using `insta_finalize`.

If disallowed,

[2018-05-17 23:58] mkeen commented on #110
I am still working on this. Submitted a proposal to make this possible with a change to Vyper.

[2018-05-18 10:16] djrtwo opened #147 "`assert msg.sender == NULL_SENDER` in `vote`"
# Issue
[EIP 1011](http://eips.ethereum.org/EIPS/eip-1011) has an optimization to put all `vote` transactions at the end of the block so that they can be run in parallel with normal block transactions. This optimization hinges upon the fact that normal block transactions cannot affect the outcome of `vote` transactions.

The problem with this is that without `assert msg.sender == NULL_SENDER`, a c

[2018-05-18 10:40] djrtwo commented on #147
thanks @ChihChengLiang. updated spec

[2018-05-20 05:06] djrtwo opened #148 "Port testing to `eth-tester`"
- Add eth-tester
- remove pyethereum dependency

Hopefully most of the work will just be in the testing config `conftest.py` 😄

[2018-05-21 12:37] djrtwo commented on #148
In progress

[2018-05-21 20:42] mkeen commented on #110
@djrtwo Can I get a 10 day snooze on this? RLPList is undergoing heavy changes RN.

[2018-05-22 14:27] ChihChengLiang opened #149 "Exposing `validate_vote_signature` and `votable`"
## The issue

Spam votes can clog the tx queue, and we can mitigate this issue by validating votes in the queue. This is better than validating in a block because the validation process can be parallelized in the client.

## Proposed implementation

Two public methods `validate_vote_signature` and `votable` are exposed in the contract for a client to use.

The result of `validate_vote_signature` c

[2018-05-23 13:40] djrtwo opened #152 "Add vyper compiling instructions to README"
# Issue
It is unclear how to build and deploy casper without digging into the testing infrastructure.

# Propose Implementation
Add clear instructions for compiling and initialization via `init` to README. Including which version of vyper to install, how to compile with vyper, and a sample initialization via `init` after deploy.

[2018-05-23 13:41] djrtwo commented on #111
This is going to be fixed in #150 becuase I am getting rid of the pyethereum dependency. I'll take it from here. Thanks for your help digging @hrishikeshio

[2018-05-24 05:44] #28 closed

[2018-05-24 12:11] djrtwo commented on #110
@mkeen I can't snooze as I'm not the founder. will have to ask @gdipri01

[2018-05-24 12:12] djrtwo commented on #110
Cool I just saw that the VIP got approved. Congrats!

[2018-05-24 21:04] mkeen commented on #110
Thanks!

[2018-05-25 18:09] ralexstokes commented on #69
Leaving a note that we should make sure that external accounts are impure.

[2018-05-25 18:27] vs77bb commented on #69
Snoozed the Gitcoin Bot warnings, @ralexstokes. Thanks for the responses 😄

[2018-05-25 18:58] vs77bb commented on #110
@mkeen @djrtwo Just 10-day-snoozed Gitcoin Bot, appreciate the request and patience as we work out the kinks 🙂

[2018-05-25 22:32] djrtwo commented on #148
addressed in #150

[2018-05-25 22:32] #148 closed

[2018-05-25 22:33] djrtwo commented on #111
addressed in #150

[2018-05-25 22:33] #111 closed

[2018-05-25 22:35] djrtwo commented on #138
This is unblocked. Need to decide on our units now..

[2018-05-26 08:40] weberV commented on #66
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 80.0 DAI (80.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/casper/66/389).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://

[2018-05-26 08:40] weberV commented on #69
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 300.0 DAI (300.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/casper/69/390).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:40] weberV commented on #110
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 200.0 DAI (200.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/casper/110/391).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:40] weberV commented on #121
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 140.0 DAI (140.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/casper/121/392).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-27 10:43] ben-kaufman opened #153 "Getting ready for the Vyper's beta launch"
Hey everyone,

Vyper is getting ready for its first beta launch (hopefully on June 1st) and I think Casper should start preparing for that as there are lots of changes (some are backwards incompatible).

I'll go through the Casper contract code this week and list here the important changes.
I think as we settle on the right units in #138 we should post it here as well.

What do you think?

[2018-05-29 01:10] ralexstokes commented on #73
I'm going to follow up the purity checker migration with this migration -- anyone else working on it already?

[2018-05-29 19:22] GagziW commented on #152
on it

[2018-05-30 09:05] ben-kaufman commented on #153
I'm pretty sure that the transition Vyper had in wei_value from ``int128`` to ``uint256`` was after that.
I'll go through the code and write the comments.

[2018-05-30 09:37] jamesray1 opened #155 "Suggestion: rename the repo to Casper-FFG"
To differentiate it from Casper CBC

[2018-05-30 09:50] ChihChengLiang commented on #155
A concern is that this repo has been referenced in many docs. The effect of the rename could be non-trivial.
Can add more hint in the `README.md` tough.

[2018-05-30 09:51] jamesray1 commented on #155
Sure, I should've mentioned to see if there was a way to set up a redirect link for https://github.com/ethereum/casper to https://github.com/ethereum/Casper-FFG.

[2018-05-30 11:38] jamesray1 commented on #155
After renaming this repo to Casper-FFG you could also create a new casper repo, with just a README.md that directs people to https://github.com/ethereum/Casper-FFG.

[2018-05-30 15:45] anshumanv commented on #152
@vs77bb is this reserved then?

[2018-05-30 16:25] djrtwo opened #158 "Create `voting_period` and seal off vote data"
# Issue
Note: this update will be paired with a corresponding update to EIP 1011.

There are issues with the assumed independence one-way independence between votes and normal block transactions. We aim to create a two-way independence between votes and normal block txs to ensure paralellizability of vote txs and to remove the ordering constraint on vote txs (votes will no longer have to be at the

[2018-05-30 16:31] djrtwo commented on #153
Cool. I'm planning on converting (almost) all of our `int128`s to `uint256` so that should fix that issue.

[2018-05-30 19:05] gcamerli commented on #152
@anshumanv in fact it is still open. @GagziW will you claim it?

[2018-05-30 19:34] vs77bb commented on #152
@anshumanv Yes, this one is reserved for now. Thank you for checking in before claiming!

[2018-05-30 22:57] djrtwo opened #159 "Deploy PURITY_CHECKER and MSG_HASHER with via compile in testing"
# Issue
PURITY_CHECKER and MSG_HASHER are currently deployed via previously sign txs in the testing framework. This is super opaque and makes it tough to test any changes to purity checker. It is also not how we plan on deploying in the EIP

# Proposed implementation
- ensure msg_hasher and purity_checker source are in the repo
- compile and deploy dynamically in testing rather than sending a prev

[2018-05-31 14:18] djrtwo commented on #155
I'm inclined to leave this as and only address if/when cbc is in more active development as an actual eth protocol

[2018-05-31 14:18] #155 closed

[2018-05-31 14:27] jamesray1 commented on #155
Find more devs to work on Casper CBC ;). We'll need it for energy efficiency, security, added scalability, etc. I'd work on it if it wasn't for needing to develop sharding first anyway, since it's probably easier to integrate sharding then Casper CBC rather than vice versa.

[2018-05-31 23:27] djrtwo opened #161 "Collective reward/penalties are opaque"
# Issue
I frequently have to explain what is actually happening with the scale factor and collective rewards. I also have to frequently re-figure out what's going on. It's very opaque.

Need to reward the names of things and also probably write a post.

[2018-06-01 04:00] ChihChengLiang commented on #161
One source of confusion comes from the fact that  `last_voter_rescale` and `last_nonvoter_rescale` are variables that are used to debug instead of really required to be there. So a proposed change is to make these variables become constant functions.

[code]

[2018-06-03 20:08] GagziW commented on #152
https://github.com/ethereum/casper/pull/162

[2018-06-04 14:13] djrtwo opened #163 "Tests take too long"
# Issue
Tests take too long. I believe this has to do primarily with two factors
- Cannot reuse setup in most cases so have to scrap chain and redeploy all contracts
- Length of epochs and dynasties that the tests have to churn through

The second is probably the main one. I would not try to optimize the first until the second has been fully optimized.

# Proposed implementation
- Reduce the base

[2018-06-04 14:24] #149 closed

[2018-06-04 19:38] ralexstokes commented on #159
Thanks for this @djrtwo  -- I had the same concern while working on `purity_checker` but figured it was this way for a reason.

I ended up doing this for `purity_checker` and the issue I ran into was that what I want to do is import the Vyper LLL but given the structure of the tests and the source code I had to modify the `PYTHONPATH` to get all of the modules lined up.

Can anyone think of a pref

[2018-06-04 22:26] djrtwo commented on #153
I'm working on this  @ChihChengLiang

[2018-06-05 22:38] ralexstokes commented on #66
@gitcoinbot i do not have a WIP PR yet but i will soon.

[2018-06-06 01:01] ralexstokes commented on #66
@paulhauner nice catch on these opcodes! my take is this:

we should leave `CREATE2` alone for now as it is still reserved.

and the other reserved opcodes i can find are `0x46-0x4f` which are all in the "block information" family of opcodes. I'm guessing those were included in the original purity checker as they will always be impure no matter what.

the rest of the opcodes in the original purity

[2018-06-06 01:08] ralexstokes commented on #66
@djrtwo trying to come up with a good rationale why we need to add this opcode.

if we want to take the view that the purity checker is looking for purity with respect to the incoming _transaction_, i would say that `GAS` is pure. the reasoning is that the mutable data here `gaslimit` will be just another parameter to the valcode execution so we get referential transparency.

does anyone see this

[2018-06-06 01:30] djrtwo opened #166 "Gas cost profiling, optimization, and management"
# Issue
Gas costs are getting out of control. Specifically, `vote` now takes in excess of 500k as per the vyper estimate, and I don't think this includes the `max 200k` call to the validator's validation contract.

At the mainchain's current 8M gas_limit, at 500k a vote less only 16 votes can make it in per block. An update to the EIP is only going to allow votes after block 12 of an epoch so only

[2018-06-06 01:49] djrtwo commented on #66
Purity of contracts defined by this purity checker need to give a deterministic output only on the parameters pass in, not on the state of the blockchain at the time. The function in the contract could be something like the following:

[code]

This function is not deterministic on its inputs but rather on the state of the context of its execution. If a validator's signature had such a triviality,

[2018-06-06 14:43] djrtwo commented on #147
addressed in #160

[2018-06-06 14:43] #147 closed

[2018-06-06 16:09] djrtwo commented on #146
Thoughts @ChihChengLiang, @paulhauner?

[2018-06-06 16:32] djrtwo commented on #136
I'm not sure what a reasonable lower bound on the `sqrt_of_total_deposits` would be. Can you expand upon your comment @ChihChengLiang ?

[2018-06-06 19:53] djrtwo commented on #138
closing in favor of #153

[2018-06-06 19:53] #138 closed

[2018-06-06 20:22] vs77bb commented on #110
Hi @mkeen just checking in, is this one still pending? Hope you are doing well 🙂

[2018-06-06 20:37] djrtwo commented on #117
We plan to bulk update the total deposit variables from the vote rewards in `initialize_epoch` in this issue #158

Ensure that when a PR is submit for #158 that this is no longer an issue

[2018-06-06 20:37] djrtwo commented on #158
This should solve #117

[2018-06-07 07:24] paulhauner opened #170 "Purity checker does not filter STATICCALL opcode"
As defined in [EIP214](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-214.md), the `STATICCALL` opcode allows a contract to read the mutable state of another contract.

The purity checker does not blacklist this opcode. I think it should.

EDIT: `STATICCALL` should not be blacklisted - instead filtered so that it may only be used upon pre-approved addresses.

[2018-06-07 07:33] ChihChengLiang commented on #170
Looks like this can be better handled by adding `STATICCALL` in the banned opcode lists in #169 .

[2018-06-07 07:34] paulhauner commented on #170
Actually I was wrong when I said "blacklist". It actually needs to be treated like other `CALL` codes and filtered so it can only be directed at pre-approved contracts.

[2018-06-07 07:36] paulhauner commented on #170
Here's a thought... blacklist `CALL` and permit only `STATICCALL`?

[2018-06-07 07:38] ChihChengLiang commented on #170
looks like it's handled here https://github.com/ethereum/casper/pull/169/files#diff-33d26a5c0d90fb3b88e7aed738a11fc5R71

[2018-06-07 07:40] paulhauner commented on #170
Where exactly? I don't see `0xfa` in the `is_some_call()` code.

[2018-06-07 07:42] ChihChengLiang commented on #170
ah sorry, I mean `0xfa` are treated differently from other `CALL`s. Is that what you want?

[2018-06-07 07:44] paulhauner commented on #170
Oh, sorry I think I misunderstood!

Yes, I think `STATICCALL` should be added to that code you linked. :relaxed:

[2018-06-07 12:44] djrtwo commented on #110
This is blocked by the implementation of a VIP https://github.com/ethereum/vyper/issues/818

It appears to be in their "final countdown" before beta. So I expect it to be finished in the relative short term

[2018-06-07 12:45] #50 closed

[2018-06-08 02:34] paulhauner commented on #146
I will follow this up and reply here in a few days :)

[2018-06-08 03:55] ChihChengLiang commented on #146
I would say maximizing benefits for the contract is the priority for time being.

[2018-06-09 17:56] PhABC commented on #166
Had the same train of thought, thanks for raising this issue.

[2018-06-10 18:14] ralexstokes commented on #66
@gitcoinbot  refer #169

[2018-06-11 16:16] mkeen commented on #110
Hi @vs77bb yes still pending! But I am keeping an eye on it.

[2018-06-11 17:20] ralexstokes commented on #73
After looking at the options I'm thinking we do the following, taking into consideration that we want to stay w/in the domain of Vyper as much as possible...

Vyper already has a `RLPDecode` built-in which you can see in the example below. There is no `RLPEncode` but I'm electing to submit a PR for that to the Vyper repo in lieu of just porting `MSG_HASHER` here. This way we can drop `msg_hash.se.

[2018-06-12 01:59] paulhauner commented on #146
Slash-watchers already need to maintain a list of all `vote` msgs they can find, so having another list of "future slashes" doesn't seem like a paradigm shift for them.

As you said, it'll add some complexity to slash-watchers but remove some from the contract. I'm generally in favor of pushing complexity off-chain, especially in a case like this were the contract is critical and there's a strong

[2018-06-12 22:50] kielbarry commented on #159
@djrtwo I'd like to own this. @ralexstokes I'm just getting familiar with Vyper (familiar with solidity), would be nice if I could ping you to get some of your learnings from doing purity_checker.

[2018-06-13 03:31] djrtwo commented on #159
That works for me. You can start building off of the purity checker
PR/branch. Should be merged tmw

On Tuesday, June 12, 2018, kiel barry <notifications@github.com> wrote:

[2018-06-13 22:32] ralexstokes commented on #159
@kielbarry sure happy to answer any questions

[2018-06-14 13:58] #69 closed

[2018-06-14 14:02] djrtwo commented on #69
This is complete. How do we pay out @ralexstokes?

[2018-06-15 13:15] #66 closed

[2018-06-15 13:17] djrtwo commented on #66
@gitcoinbot This is completed

[2018-06-18 22:00] vs77bb commented on #69
@djrtwo Expect payout in the next day or two. Great work @ralexstokes!

[2018-06-18 22:01] vs77bb commented on #66
@djrtwo @ralexstokes Awesome!

[2018-06-19 17:12] ralexstokes commented on #66
@gitcoinbot we are working to close out this bounty

[2018-06-20 08:45] sanitaminimalist opened #173 "pytest tests error"
When I run command "pytest tests", I get this errors:

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/_pytest/config.py", line 329, in _getconftestmodules
    return self._path2confmods[path]
KeyError: local('/root/casper/tests')

During handling of the above exception, another exception occurred:
Traceback (most recent call last):
  File "/usr/local/lib/python3.

[2018-06-20 17:27] vs77bb commented on #69
@ralexstokes Can you click 'Submit Work' on Gitcoin [here](https://gitcoin.co/issue/ethereum/casper/69/390)?

If you need a bit of mainnet ETH, let me know on [Gitcoin Slack](gitcoin.co/slack) or try the [Gitcoin Faucet](gitcoin.co/faucet) and we'll get some your way 🙂

[2018-06-20 21:28] vs77bb commented on #66
Hi @ralexstokes if you can ['Submit Work'](https://gitcoin.co/issue/ethereum/casper/66/389) for this one too, that'd be great.

[2018-06-26 03:46] codesinthedark opened #175 "Intertwine Casper with lightning network"
**Assumptions:**

If we really want blockchain technology to replace fiat then we really need lightning network for cheap, near real-time transfers. If you buy a chocolate in a store you want to use NFC on your phone to transfer money and wait a second or 2, not 20 seconds or minutes, and you don't want to pay $1 transaction fee for a $2 chocolate.
We don't want to waste to much power and resource

[2018-08-22 21:01] vs77bb commented on #152
Hi @GagziW - just circling back here; we decided to pay out for your bounty although the repo is deprecated. Thanks for your contributions and hope to see you around on Gitcoin / Ethereum repo's in the future 🙂

[2019-01-21 22:10] kuhnchris commented on #110
Hi there everyone. Is this issue still blocked due to your dependencies?
Let me know if we can help you in any ways!

Thanks!

[2019-01-24 07:40] hrishikeshio commented on #110
@kuhnchris The repo is deprecated. No commits since Jun 2018.

[2019-01-24 07:46] kuhnchris commented on #110
Well, there are still 200$ in DAI stashed in the bounty from Greg. If this repository is deprecated he should cancel the bounty so he can at least get his funds back. We'll try to mail him, thanks for the info!
May I note that if this is deprecated that maybe the repository should be changed to read-only, respectively archived?

Thanks!
Chris

[2019-01-24 11:20] hrishikeshio opened #176 "Depracte the repo"
Deprecate the repo/ convert to read only so as to not confuse new visitors and refer them to the appropriate new repo (Eth 2.0 specs?)

[2019-03-28 02:21] ChihChengLiang commented on #176
Done, thanks for the suggestion.

[2019-03-28 02:21] #176 closed

[2019-06-10 01:12] mkeen commented on #110
The repo isn't deprecated as far as I know. It would be nice to at least partially claim the bounty, since I did a bunch of analysis and spec'ed out a fix upstream. Just a thought :)

[2019-06-10 09:19] kuhnchris commented on #110
@djrtwo @hrishikeshio your calls. cc @vs77bb

[2019-06-19 01:47] mkeen commented on #110
@djrtwo @hrishikeshio @vs77bb LMK. I think it's only fair.

[2019-06-19 12:34] hrishikeshio commented on #110
Its deprecated according to https://github.com/ethereum/casper/blob/master/README.md.
Anyways, I am not the decision maker or bounty sponsorer. So its not my decision. good luck.

[2019-06-19 14:58] mkeen commented on #110
Yikes.